body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.game_field { width: 980px; margin: 0 auto; }
.header { text-align: center; font-size: 40px; color: #333; margin: 25px 0; }
a { text-decoration: none; color: #3baafa; }
a:hover { color: #1e78ff;}

.symbols { width: 400px; }
.symbols div { width: 40px; height: 40px; float: left; text-align: center; line-height: 40px; }
.nums div { width: 40px; height: 40px; text-align: center; line-height: 40px; }

#field_1, #field_enemy { width: 400px; height: 400px; border-bottom: 1px dashed #ccc; border-right: 1px dashed #ccc;   }
#field_1 div, #field_enemy div { width: 40px; height: 40px; border-top: 1px dashed #ccc; border-left: 1px dashed #ccc; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; float: left; cursor: pointer; line-height: 40px; text-align: center; color: #fefefe; }
#field_enemy div { cursor: crosshair; }
#field_enemy div:hover { box-shadow: 0 0 10px #e87e78; }

#log { background: #f1f1f1; height: 25px; line-height: 25px; margin: 10px auto; border-radius: 10px; padding: 0 10px; display: block; clear: both; width: 800px;}

#finish_game { display: none; background: #fff; z-index: 999; position: absolute; height: 145px; width: 980px; border-radius: 30px; border: 1px solid #ccc; top: 10px; box-shadow: 0 0 20px lightgreen; font-size: 18px; text-align: center; line-height: 30px; padding-top: 5px; }
#finish_game table { width: 241px; margin: 0 auto; }
#finish_game table tr td { font-size: 22px; font-family: Georgia; text-align: center; }
#your_score { width: 120px; }
#computer_score { width: 120px;  }
.table_sep {border-left: 1px dashed #eee; }

/* Корабли */
#ship_list { padding: 5px 60px; clear: both; width: 400px; }
#ship_list { padding: 5px 60px; clear: both; width: 400px; }
.ship_selector div { float: left; margin: 2px; cursor: pointer; }
.ship_selector { clear: both; }
#ship_random { display: block; cursor: pointer; clear: both; margin: 0 auto; width: 200px; border: 1px solid #ccc; text-align: center; line-height: 30px; border-radius: 4px; }
#ship_random:hover { background: #fcefa1; }
.p_4 { width: 30px; height: 160px; background: #f08047; border-radius: 10px 10px 5px 5px; }
.p_3 { width: 30px; height: 110px; background: #f08047; border-radius: 18px 18px 5px 5px; }
.p_2 { width: 30px; height: 70px; background: #f08047; border-radius: 20px 20px 10px 10px; }
.p_1 { width: 20px; height: 35px; background: #f08047; border-radius: 20px 20px 5px 5px; }
.selected_ship { box-shadow: 0 0 10px 2px #adff2f; }
.placed_ship { border: 1px dashed #ccc; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background: #fff; }
.ship_part_display { width: 40px; height: 40px; background: #c0d5e8; }
.destroyed_ship { background: #f08047; box-shadow: 0 0 3px red; }

/* Штуки на пб */
.shot { display: block; width: 20px; height: 20px; border: 1px dashed #1e78ff; margin: 10px 10px; border-radius: 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position: absolute; background: #e1faff; }
.hit { display: block; width: 20px; height: 20px; border: 1px dashed red; margin: 10px 10px; border-radius: 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background: #fcefa1; position: absolute; }
.explode_hit { display: block; width: 32px; height: 32px; margin: 4px 4px; border-radius: 15px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; background: #ffd467; border: 4px dotted #f06348; position: absolute; }
.clear_hit { display: block; width: 32px; height: 32px; margin: 4px 4px; border-radius: 15px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; background: #a5e7ff; border: 4px dotted #89b3f0; position: absolute; }

.ship_part { display: block; position: relative; }
.clear_zone { position: absolute; }
